tmp/

# Проигнорируйте файлы, находящиеся в подкаталоге tmp

*_old
*_backup

# Проигнорируйте файлы, заканчивающиеся суффиксами _old, _backup

Thumbs.db
.DS_Store

# Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store